<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
      <h1 class="title-text"><%= title %></h1>
      <p class="secondary-text">Post messages to everyone, anytime.</p>
      <a href="/form">
        <button id="message-button">Post A Message</button>
      </a>
    </div>
    <div class="section-divider content">
      <p class="primary-text">Latest Messages</p>
    </div>
    </div>
    <% messages.forEach(function(message) { %>
      <div class="message-container content">
        <p class="primary-text"><%= message.text %></p>
        <div class="details-container">
          <p class="secondary-text"><%= message.user %></p>
          <p class="secondary-text"><%= message.added %></p>
        </div>
      </div>
    <% }); %>
  </body>
</html>
